<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>상세정보 조회</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="type02">
<img src="/images/bum2.jpg" width="25%" style="margin-bottom: 10px">
<h2 class="type02">상 세 정 보</h2>
<table class="type09" border="1">
  <thead>
  <tr>
    <th class="">회원번호</th>
    <th>이메일</th>
    <th>비밀번호</th>
    <th>이름</th>
    <th>주소</th>
  </tr>
  </thead>
  <tr>
    <td th:text="${member.id}"></td>
    <td th:text="${member.memberEmail}"></td>
    <td th:text="${member.memberPassword}"></td>
    <td th:text="${member.memberName}"></td>
    <td th:text="${member.roadAddr}"></td>
  </tr>
</table>
</body>
</html>