<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <form class="index" action="/member/index" method="post">
      <img src="/images/bum.jpg" width="50%" style="margin-bottom: 10px">
      <label class="option"><a href="/member/save"><h3>회원가입</h3></a></label>
      <label class="option"><a href="/member/login"><h3>로그인</h3></a></label>
      <label class="option"><a href="/member/"><h3>회원목록</h3></a></label>
    </form>
</body>
</html>